// update section colours based on background colour of section
.has-xxxx-background-color {
    // links
    a:where(:not(.wp-element-button)) {
        &:hover {
            border-color: var(--wp--preset--color--colour1);
        }

        &:focus {
            border-color: var(--wp--custom--button--foreground);
        }
    }

    // buttons
    .gform_page_footer button,
    .gform_button,
    .wp-element-button,
    .wp-block-button__link {
        --wp--custom--button--background: var(--wp--preset--color--foreground);
        --wp--custom--button--text: var(--wp--preset--color--colour2);
        --wp--custom--button--border: var(--wp--preset--color--foreground);

        &:hover {
            --wp--custom--button-hover--border: var(--wp--preset--color--foreground);
            --wp--custom--button-hover--background: var(--wp--preset--color--foreground);
        }

        &:focus {
            --wp--custom--button-focus--background: var(--wp--preset--color--foreground);
            --wp--custom--button-focus--text: var(--wp--preset--color--colour2);
            --wp--custom--button-focus--border: var(--wp--preset--color--foreground);
        }
    }
}