.wp-block-search {
	color:var(--wp--preset--color--foreground);
    font-size: var(--wp--custom--font-size--body);

	input,
	::placeholder {
		font-family: var(--wp--custom--font-family--headings);
	}

	&__button {
		margin-left: 0;
		padding:var(--wp--custom--button--padding);
	}
}

:where(.wp-block-search__button-inside .wp-block-search__inside-wrapper) {
	padding:0;
}

// .wp-block-search__button-inside .wp-block-search__button,
// .wp-block-search__button-inside .wp-block-search__input {
// 	border: none;
// 	background-color: transparent;
// 	color:currentColor;

// 	::placeholder {
// 		color:currentColor;
// 	}
// }